<div class="content">
    <button ng-click="order = 'Title'">Order by Title<button>
    <button ng-click="order = 'Year'">Order by Date<button>
    <div class="cards-content">
        <ul>
            <li ng-repeat='movie in movies | orderBy: order | filter: search'>
                <div class="card">
                    <div class="col-md-2">
                        <img ng-src="{{movie.Poster}}" ng-show="movie.Poster">
                    </div>
                    <div class="col-md-10">
                        <h1>{{movie.Title}}</h1>
                        <hr/>
                        <div class="card-f col-12">
                            <span class="right">{{movie.year}}</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis fringilla purus. Duis dapibus gravida lectus, id tristique metus sagittis sed. Nulla faucibus, nisl non semper mollis, urna mi placerat diam, at volutpat neque neque non neque. Nulla et eleifend tortor. Cras eget quam at purus viverra mollis. Aliquam condimentum dolor nec urna auctor, quis egestas orci faucibus. Donec quis nisl sit amet lacus pellentesque vestibulum eget eu nulla.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    <div>    
</div>